{
  "arrowParens": "avoid",
  "printWidth": 96,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",

  "overrides": [
    {
      "files": ["*.js", "*.cjs", "*.ts", "*.jsx", "*.tsx", "*.vue"],
      "options": {
        "importOrder": ["node_modules", "^[./]"],
        "importOrderSeparation": false,
        "importOrderSortSpecifiers": true,

        "plugins": ["@trivago/prettier-plugin-sort-imports"]
      }
    },
    {
      "files": ["*.js", "*.cjs", "*.ts", "*.jsx", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.jsx", "*.tsx", "*.vue"],
      "options": {
        "singleAttributePerLine": true,
        "htmlWhitespaceSensitivity": "ignore",

        "plugins": ["prettier-plugin-tailwindcss"]
      }
    }
  ]
}
